@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
  /* Cores - Primárias */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  /* Cores - Neutras */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Tipografia */
  --font-body-size: 14px;
  
  --font-montserrat: 'Montserrat', sans-serif;
  --font-fraunces: 'Fraunces', serif;

  /* Pesos das Fontes */
  --weight-normal: 500;
  --weight-bold: 700;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    font-family: var(--font-montserrat);
    font-size: var(--font-body-size);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    border-radius: 8px;
    max-width: 375px;
    width: 95vw;
}

.image img {
    display: block;
    width: 100%;
    border-radius: 8px;
   /* height: 200px;
    background-size: cover;*/
}

.content {
    padding: 24px;
}

.category {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    color: var(--green-500);
    margin-bottom: 12px;
}

h1 {
    color: var(--black);
    font-size: 32px;
    font-family: var(--font-fraunces);
    margin-bottom: 1em;
}

.description {
    color: var(--grey);
    font-weight: var(--weight-normal);
    margin-bottom: 26px;
}

.price {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.price .current {
    font-family: var(--font-fraunces);
    font-size: 32px;
    color: var(--green-500);
}

.price .old {
    font-size: 13px;
    text-decoration: line-through;
    color: var(--grey);
}
button {
    width: 100%;
    background-color: var(--green-500);
    color: var(--white);
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-weight: var(--weight-bold);
}
button:hover {
    background-color: var(--green-700);
}